<div class="modal modal-hidden">
  <div class="modal-poster no-display">
    <img src="" alt="" />
  </div>
  <div class="media-info-container">
    <h3 class="media-name section-header"></h3>
    <ul class="genre-list"></ul>
    <p class="release-and-score">
      <span class="release-date no-display"></span><span class="score"></span>
    </p>
    <p class="media-desc"></p>
    <h3 class="section-header" id="streaming-header">Now Streaming On</h3>
    <ul class="streaming-list" id="streaming-list"></ul>
    <h3 class="section-header" id="similar-header">You May Also Like</h3>
    <ul class="media-list" id="similar-list"></ul>
  </div>
  <button class="btn-close-modal">X</button>
</div>
