<header>
  <label for="search" class="sr-only"
    >Search for a movie, tv show, or actor</label
  >
  <input
    class="search-field"
    type="search"
    name="search"
    id="search"
    placeholder="Search..."
    autocomplete="off"
  />
  <button class="btn-search"><span class="hamburger"></span></button>
  <section class="search-results no-display">
    <h4 class="section-header" id="movie-results-header">Movies</h4>
    <ul class="results-list" id="movie-results"></ul>

    <h4 class="section-header" id="tv-results-header">TV Shows</h4>
    <ul class="results-list" id="tv-results"></ul>

    <p class="results-error no-display">No results were found.</p>
  </section>
</header>
