<%- include('./partials/site-head') -%> <%- include('./partials/search-header')
-%>
<main class="hero error-hero">
  <h1 class="error-header">404</h1>
  <p class="error-text">
    Well, we searched and searched but couldn't find what you were looking for.
  </p>
  <p class="error-text">Sorry about that!</p>
</main>

<%- include('./partials/footer') %>
