<%- include('./partials/site-head.ejs') -%> <%-
include('./partials/search-header.ejs') -%>

<main class="info-page">
  <h1 class="section-header site-header">Chunky Chicken Entertainment</h1>
  <p class="info-para">
    Welcome to Chunky Chicken Entertainment! We are a team of movie and TV
    enthusiasts who are passionate about helping you find your next favorite
    media. We know that it can be overwhelming to navigate the endless sea of
    options, which is why we've created a platform that makes it easy to find
    the content you love.
  </p>

  <p class="info-para">
    Our website provides a comprehensive database of movies and TV shows,
    complete with detailed synopses, release dates, and front page access to
    upcoming, now playing and trending movies and TV shows. Our powerful search
    engine allows you to quickly and easily find exactly what you're looking
    for.
  </p>

  <p class="info-para">
    But we don't stop there. Our recommendation engine uses sophisticated
    algorithms to provide recommended movies and TV shows whenever you view the
    synopsis and details. Additionally, we let you know if the show or movie
    you're looking at is currently streaming anywhere across a plethora of
    streaming services. So whether you're looking for a new thriller to watch,
    or want to discover hidden gems that you might have missed, we've got you
    covered.
  </p>

  <p class="info-para">
    At Chunky Chicken Entertainment, we believe that the best way to enjoy
    movies and TV shows is by sharing them with others. That's why we've built a
    community of like-minded individuals who love to talk about their favorite
    media. Join our discord, join the conversation and discover new friends who
    share your passion for great movies and TV shows.
  </p>

  <p class="info-para">
    Thank you for choosing Chunky Chicken Entertainment as your go-to
    destination for movie and TV show information and recommendations. We hope
    that our website helps you find your next favorite media, and that we can
    make your viewing experience even more enjoyable. If you have any questions
    or feedback, please don't hesitate to reach out to us.
  </p>

  <p class="info-para">
    All film-related and TV show metadata used in Chunky Chicken Entertainment,
    including actor, director and studio names, synopses, release dates, and
    poster art is supplied by
    <a href="https://www.themoviedb.org" class="footer-link general-link"
      >The Movie Database (TMDb)</a
    >.
  </p>
  <p class="info-para">
    <em
      >Chunky Chicken Entertainment uses the TMDb API but is not affiliated
      with, endorsed or certified by TMDb.</em
    >
  </p>
</main>

<%- include('./partials/footer.ejs') -%>
