<footer>
  <nav id="bottom-nav">
    <!-- <div class="footer-left"> -->
      <ul class="footer-left">
        <li><a href="#watchlist" class="footer-link no-display">Your Watchlist</a></li>
        <li><a href="#upcoming" class="footer-link">Upcoming Releases</a></li>
        <li><a href="#in-theaters" class="footer-link">Now in Theaters</a></li>
        <li><a href="#trending-movies" class="footer-link">Trending Movies</a></li>
        <li><a href="#trending-tv" class="footer-link">Trending TV</a></li>
      </ul>
    <!-- </div> -->
    <!-- <div class="footer-right"> -->
      <ul class="footer-right">
        <li><a href="/about" class="footer-link">About Us</a></li>
        <li><a href="/privacy" class="footer-link">Privacy Policy</a></li>
      </ul>
    <!-- </div> -->
  </nav>
  <div class="footer-bottom">
    <p class="attribution-tmdb">Powered by <a href="https://www.themoviedb.org/" class="footer-link"><img class="tmdb-img" src="../img/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="The Movie Database"></a></p>
    <p>Streaming Info Provided by <a href="https://www.justwatch.com/"><img class="just-watch-img" src="../img/JustWatch-logo-large.webp" alt="Just Watch"></a></p>
    <p class="copyright">Chunky Chicken Entertainment ©2023 James Smith</p>
  </div>
  </footer>
</html>
