<%- include('./partials/site-head.ejs') -%> <%-
include('./partials/search-header.ejs') -%>

<h1 class="section-header">Privacy Policy</h1>

<p>
  At Chunky Chicken Entertainment, we are committed to protecting your privacy
  and ensuring that your personal information is kept safe. We never collect any
  personally identifiable information from our users and we never sell any
  information that we do collect. We firmly believe that user data belongs to
  the user, not to the highest bidder.
</p>

<h2 class="section-header">Information We Collect:</h2>

<p>
  We may collect certain information from you in order to provide you with the
  best possible user experience. This information may include non-personally
  identifiable information such as your IP address, browser type, and the pages
  that you visit on our website. This information is used to improve our website
  and to provide you with a more personalized experience.
</p>

Cookies:

<p>
  We use cookies to improve your experience on our website. A cookie is a small
  file that is stored on your computer or mobile device. Cookies help us
  remember your preferences and provide you with a more personalized experience.
  You can choose to accept or decline cookies. Most web browsers automatically
  accept cookies, but you can usually modify your browser settings to decline
  cookies if you prefer.
</p>

<h2 class="section-header">Third-Party Services:</h2>

<p>
  We may use third-party services to improve our website and provide you with a
  better user experience. These services may include analytics tools,
  advertising networks, and social media platforms. These third-party services
  may collect certain information from you in order to provide their services.
  However, we never share any personally identifiable information with these
  third-party services.
</p>

<h2 class="section-header">Data Security:</h2>

<p>
  We take data security very seriously and we have implemented various measures
  to ensure that your data is kept safe. We use industry-standard security
  protocols to protect your information from unauthorized access, disclosure,
  alteration, or destruction.
</p>

<h2 class="section-header">Changes to This Privacy Policy:</h2>

<p>
  We reserve the right to modify this privacy policy at any time. If we make any
  material changes to this policy, we will notify you by email or by posting a
  notice on our website. Contact Us: If you have any questions or concerns about
  this privacy policy, please contact us at [contact email address]. <%-
  include('./partials/footer.ejs') -%>
</p>
